{% load static %}
<header class="post-head columns-2">
  <h1>Training Schedule</h1>
  <img
  class="lazyload blur-up"
  data-expand="100"
  data-sizes="auto"
  data-src="{% static 'images/hero/training-header-2.jpg' %}"
  data-srcset="{% static 'images/hero/training-header-2-400x238.jpg' %} 350w,
  {% static 'images/hero//training-header-2-800x477.jpg' %} 500w,
  {% static 'images/hero/training-header-2.jpg' %} 700w,
  {% static 'images/hero/training-header-2.jpg' %} 1000w"
  alt="mysite Trainings Hero Image 2" />
  <img
  class="lazyload blur-up"
  data-expand="100"
  data-sizes="auto"
  data-src="{% static 'images/hero/training-header-1.jpg' %}"
  data-srcset="{% static 'images/hero/training-header-1-400x240.jpg' %} 350w,
  {% static 'images/hero/training-header-1-800x481.jpg' %} 500w,
  {% static 'images/hero/training-header-1.jpg' %} 700w,
  {% static 'images/hero/training-header-1.jpg' %} 1000w"
  alt="mysite Trainings Hero Image 1" />
</header>
