{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block description %}{% page_attribute "meta_description" %}{% endblock description %}
{% block body_class %}careers full-width-page{% endblock %}

{% block hero_content %}
  {% placeholder 'Header Style' or %}

		Add Header call to action or Standard

  {% endplaceholder %}
{% endblock %}

{% block content %}
<a href="/admin/">Admin Site</a>
	<article>
    {% placeholder 'Article' or %}

		  There is no content.

	  {% endplaceholder %}
    <section class="editor standard">
      {% placeholder 'Form' or %}

        Please enter Contact Form.

      {% endplaceholder %}
    </section>
  </article>
{% endblock content %}
