{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block description %}{% page_attribute "meta_description" %}{% endblock description %}
{% block body_class %}full-width-page{% endblock %}

{% block hero_content %}
  {% placeholder 'Header Style' or %}

		Add Header call to action or Standard

  {% endplaceholder %}
{% endblock %}

{% block content %}
	<article>
    {% placeholder 'Article' or %}

		  There is no content.

	  {% endplaceholder %}
  </article>


	{% if request.path == '/en/support/' or request.path == '/en/support/parents/' %}
		<section class="tutor-list standard">
			<label>Filter By State:</label>
			<select class="filters-select">
				<option value="*">View All</option>
				<option value=".AL">Alabama</option>
				<option value=".AK">Alaska</option>
				<option value=".AZ">Arizona</option>
				<option value=".AR">Arkansas</option>
				<option value=".CA">California</option>
				<option value=".CO">Colorado</option>
				<option value=".CT">Connecticut</option>
				<option value=".DC">District of Columbia</option>
				<option value=".DE">Delaware</option>
				<option value=".FL">Florida</option>
				<option value=".GA">Georgia</option>
				<option value=".HI">Hawaii</option>
				<option value=".ID">Idaho</option>
				<option value=".IL">Illinois</option>
				<option value=".IN">Indiana</option>
				<option value=".IA">Iowa</option>
				<option value=".KS">Kansas</option>
				<option value=".KY">Kentucky</option>
				<option value=".LA">Louisiana</option>
				<option value=".ME">Maine</option>
				<option value=".MD">Maryland</option>
				<option value=".MA">Massachusetts</option>
				<option value=".MI" selected>Michigan</option>
				<option value=".MN">Minnesota</option>
				<option value=".MS">Mississippi</option>
				<option value=".MO">Missouri</option>
				<option value=".MT">Montana</option>
				<option value=".NE">Nebraska</option>
				<option value=".NV">Nevada</option>
				<option value=".NH">New Hampshire</option>
				<option value=".NJ">New Jersey</option>
				<option value=".NM">New Mexico</option>
				<option value=".NY">New York</option>
				<option value=".NC">North Carolina</option>
				<option value=".ND">North Dakota</option>
				<option value=".OH">Ohio</option>
				<option value=".OK">Oklahoma</option>
				<option value=".OR">Oregon</option>
				<option value=".PA">Pennsylvania</option>
				<option value=".RI">Rhode Island</option>
				<option value=".SC">South Carolina</option>
				<option value=".SD">South Dakota</option>
				<option value=".TN">Tennessee</option>
				<option value=".TX">Texas</option>
				<option value=".UT">Utah</option>
				<option value=".VT">Vermont</option>
				<option value=".VA">Virginia</option>
				<option value=".WA">Washington</option>
				<option value=".WV">West Virginia</option>
				<option value=".WI">Wisconsin</option>
				<option value=".WY">Wyoming</option>
				<option value=".PR">Puerto Rico</option>
			</select>
			<div class="tutors">
				{% for tutor in tutors %}
				<div class="tutor {{ tutor.state }}">
					<p class="name">{{ tutor.title }}</p>
					<p class="cert">{{ tutor.certification_level }}<br />{{ tutor.certification_level_category }}</p>
					<p class="location">{{ tutor.city }}, {{ tutor.state }}</p>
					<p class="email"><a class="button is-text" href="mailto:{{ tutor.email }}">Email {{ tutor.first_name }}</a></p>
				</div>
				{% endfor %}
			</div>
			<div id="no-results">There are currently no certified tutors at this time. Please check back as we continually add new tutors to our database! In the meantime please check out Learning Ally for tutors in your area. <a target="_blank" href="www.learningally.org">www.learningally.org</a></div>
		</section>

	{% endif %}
{% endblock content %}
