{% comment %}
/*----------------------------------------------------------------*\

	ARTICLE SECTION
	displaying 2 columns one with a image the other with an editor

\*----------------------------------------------------------------*/
{% endcomment %}
{% load cms_tags thumbnail %}
<section class="media-text {{ instance.width_style }} {{ instance.image_alignment }} {{ instance.image_size }}">
  <div>
    <img
      class="lazyload blur-up"
      data-expand="100"
      data-sizes="auto"
      data-src="{{ instance.image.url }}"
      data-srcset="{% thumbnail instance.image 400x192 crop %} 350w,
        {% thumbnail instance.image 800x384 crop %} 700w,
        {{ instance.image.url }} 1000w,
        {{ instance.image.url }} 1200w"
      alt="{{ instance.image_alt }}"
    />
  </div>
  <div>
    {{ instance.content }}
  </div>
</section>
