<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="email" viewBox="0 0 64 64">
    <path
      data-name="layer2"
      fill="none"
      stroke-miterlimit="10"
      stroke-width="2"
      d="M2 12l30 27.4L62 12"
      stroke-linejoin="round"
      stroke-linecap="round"
    ></path>
    <path
      data-name="layer1"
      fill="none"
      stroke-miterlimit="10"
      stroke-width="2"
      d="M2 12h60v40H2z"
      stroke-linejoin="round"
      stroke-linecap="round"
    ></path>
  </symbol>
  <symbol id="phone" viewBox="0 0 64 64">
    <path
      data-name="layer1"
      d="M58.9 47l-10.4-6.8a4.8 4.8 0 0 0-6.5 1.3c-2.4 2.9-5.3 7.7-16.2-3.2S19.6 24.4 22.5 22a4.8 4.8 0 0 0 1.3-6.5L17 5.1c-.9-1.3-2.1-3.4-4.9-3S2 6.6 2 15.6s7.1 20 16.8 29.7S39.5 62 48.4 62s13.2-8 13.5-10-1.7-4.1-3-5z"
      fill="none"
      stroke="#202020"
      stroke-miterlimit="10"
      stroke-width="2"
      stroke-linejoin="round"
      stroke-linecap="round"
    ></path>
  </symbol>
  <symbol id="arrowhead" viewBox="0 0 24 24">
    <path
      fill="none"
      stroke-miterlimit="10"
      d="M10 8l4 4-4 4"
      stroke-linecap="square"
      stroke="currentColor"
    ></path>
  </symbol>
  <symbol
    id="wave"
    viewBox="0 0 1440 320"
    fill-rule="evenodd"
    clip-rule="evenodd"
    stroke-linejoin="round"
    stroke-miterlimit="2"
  >
    <path
      fill="#fff"
      d="M0 224l60-21.3C120 181 240 139 360 128s240 11 360 26.7c120 16.3 240 26.3 360 26.6 120-.3 240-10.3 300-16l60-5.3V0H0z"
    ></path>
  </symbol>
  <symbol id="close" viewBox="0 0 48 48">
    <path
      d="M42 3H6a3 3 0 00-3 3v36a3 3 0 003 3h36a3 3 0 003-3V6a3 3 0 00-3-3zm-8.1 28.071L31.071 33.9 24 26.828 16.929 33.9 14.1 31.071 21.172 24 14.1 16.929l2.829-2.829L24 21.172l7.071-7.072 2.829 2.829L26.828 24z"
    ></path>
  </symbol>
</svg>
