<nav class="child-page-navigation">
  <div class="menu-training-container">
    <ul id="" class="menu">
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-474 current_page_item menu-item-507"
      >
        <a href="/training/" aria-current="page">Training Schedule</a>
      </li>
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"
      >
        <a href="/training/training-descriptions/">Training Descriptions</a>
      </li>
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592"
      >
        <a href="/training/private-district-trainings/"
          >Private District Trainings</a
        >
      </li>
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-509"
      >
        <a href="/training/certification/">Certification</a>
      </li>
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-591"
      >
        <a href="/training/state-requirments/">State Requirements</a>
      </li>
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-510"
      >
        <a href="/training/state-college-credits/"
          >College &amp; State credit</a
        >
      </li>
      <li
        id=""
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1816"
      >
        <a href="/training/accredited-partner/">Partners</a>
      </li>
    </ul>
  </div>
</nav>
